/.vs 
/FBX SDK
/DirectXTK-main
/FrameWork/x64
/FrameWork/AnimatedShot
/FrameWork/Model
/FrameWork/Monster
/FrameWork/Skybox
/FrameWork/Sound
/FrameWork/Terrain
/Server_Framework/x64
/Server_Framework/Server_Framework
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.ipch
*.lastbuildstate 
*.suo 
*.db 

